* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0BA54;
    display: flex;
    flex-direction: column;
}

/* N  A  V  */

nav {
    height: 5em;
    width: 100%;
    background-color: #BB0909;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav > #before-menu {
    display: flex;
    flex-direction: column;
}

nav > #before-menu > .before-click {
    height: 0.5em;
    width: 2em;
    margin: 0.1em;
    background-color: black;
}

nav > #title {
    padding: 0.2em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav > #title > h1 {
    font-size: 17px;
    color: white;
}

nav > #title > h2 {
    font-size: 13px;
}

nav > #hidden-nav {
    background-color: #F0BA54;
    position: absolute;
    z-index: 1;
    height: 7em;
    width: 100%;
    top: 5em;
    text-align: center;
    display: none;
}

nav > #hidden-nav > p {
    text-transform: uppercase;
    margin: 0.8em;
}

/*  H E A D E R  */


header {
    height: 50em;
    width: 100%;
    background-color: white;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

header > img {
    height: 20em;
    width: 100%;
    border-radius: 50%;
}

header > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

header > div > p {
    width: 80%;
    line-height: 1.2em;
}

header > div > button {
    width: 50%;
    padding: 1.5em;
    border: none;
    border-radius: 10%;
    background-color: #F0BA54;
}

/* M A I N  */

main {
    height: 40em;
    width: 100%;
    background-color: #BB0909;
    display: flex;
    align-items: center;
}

main > section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
}

main > section > a {
    text-decoration: none;
    color: black;
}

main > section > a > div {
    height: 9em;
    width: 8em;
    background-color: #F0BA54;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}

main > section > a > div > h2 {
    text-transform: uppercase;
    font-size: 14px;
}

/* F O O T E R   */

footer {
    height: 15em;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

footer > section {
    background-color: #F0BA54;
    padding: 1em;
}

footer > section > p {
    display: none;
}

/*  M E D I A   Q U E R I E S*/


@media only screen and (min-width: 660px) {
    header > img {
        height: 20em;
        width: 50%;
        border-radius: 50%;
    }

    main > section > a > div {
        height: 10em;
        width: 10em;
    }
}

@media only screen and (min-width: 768px) {
    nav > #before-menu {
        display: none;
    }

    nav > #hidden-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5em;
    }

    nav > #title > h1 {
        font-size: 20px;
    }
    
    nav > #title > h2 {
        font-size: 15px;
    }

    header > div {
        width: 50%;
    }

    main > section {
        gap: 0;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    main > section > a > div {
        border-radius: 0;
        width: 50%;
        height: 6em;
        border: 5px solid white;
    }
}

@media only screen and (min-width: 1024px) {
    nav > #hidden-nav > p {
        font-size: 18px;
    }

    header > img {
        height: 25em;
        width: 50%;
        border-radius: 50%;
    }

    main > section {
        gap: 0;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    main > section > a > div {
        border-radius: 0;
        width: 50%;
        height: 6em;
        border: 5px solid white;
        transition: 1s;
    }

    main > section > a > div > h2 {
        font-size: 20px;
    }

    main > section > a > div:hover {
        background-color: white;
    }

    footer {
        flex-direction: row;
        height: 20em;
    }

    footer > section {
        background-color: whitesmoke;
        margin-top: 2em;
        border-radius: 10%;
    }

    footer > section > h3 {
        font-size: 20px;
    }

    footer > section > p {
        display: block;
        margin: 0.5em;
        font-size: 18px;
    }

}

@media only screen and (min-width: 1400px) {
    nav > #hidden-nav > p {
        cursor: pointer;
    }

    header {
        flex-direction: row-reverse;
    }

    header > img {
        width: 30em;
    }

    main > section {
        gap: 0;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    main > section > a > div {
        border-radius: 0;
        width: 50%;
        height: 6em;
        border: 5px solid white;
    }

    main > section > a > div > h2 {
        font-size: 25px;
    }

    footer > section > h3 {
        font-size: 25px;
    }

    footer > section > p {
        display: block;
        margin: 0.5em;
        font-size: 20px;
    }

    header > div > p {
       font-size: 20px;        
    }

    header > div > button {
        font-size: 20px;
        border-radius: 15%;
    }
}

@media only screen and (min-width: 2500px) {
    body {
        width: 50%;
        margin: 0 auto;
    }

    nav > #title > h1 {
        font-size: 30px;
        color: white;
    }
    
    nav > #title > h2 {
        font-size: 25px;
    }

    nav > #hidden-nav > p {
        font-size: 23px;
    }

    header > h2 {
        font-size: 30px;
    }

    footer {
        height: 25em;
    }

    footer > section > h3 {
        font-size: 30px;
    }

    footer > section > p {
        font-size: 25px;
    }

    header > div > p {
        font-size: 25px;        
     }
 
     header > div > button {
         font-size: 20px;
         border-radius: 15%;
     }

     main > section {
        gap: 0;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    main > section > a > div {
        border-radius: 0;
        width: 50%;
        height: 6em;
        border: 5px solid white;
    }
}