* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0BA54;
    display: flex;
    flex-direction: column;
}

/* N  A  V  */

nav {
    height: 5em;
    width: 100%;
    background-color: #F06D54;
    display: flex;
    align-items: center;
    justify-content: space-between
}

nav > #before-menu {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

nav > #before-menu > .before-click {
    height: 0.5em;
    width: 2em;
    margin: 0.1em;
    background-color: black;
}

nav > #after-menu {
    display: flex;
    flex-direction: row;
    padding: 1em;
    display: none;
}

nav > #after-menu > .after-click {
    height: 2em;
    width: 0.5em;
    background-color: black;
    transition: 0.4s;
}

nav > #after-menu > .one {
    transform: translate(0, 11px) rotate(-45deg);
}

nav > #after-menu > .two {
    opacity: 0;
}

nav > #after-menu > .three {
    transform: translate(0, -11px) rotate(45deg);
}

nav > img {
    height: 70%;
    width: 3em;
}

nav > #title {
    padding: 0.2em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav > #title > h1 {
    font-size: 17px;
    color: white;
}

nav > #title > h2 {
    font-size: 13px;
}

/*  H E A D E R  */


header {
    height: 17em;
    width: 100%;
    background-color: #F0BA54;
}

slideshow-container {
    width: 100%;
  }
  
  
  .mySlides {
    display: none;
    height: 100%;
  }

  .mySlides > img {
    height: 17em;
  }
  
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

main {
    height: 40em;
    width: 100%;
    background-color: #F06D54;
}

footer {
    height: 10em;
    width: 100%;
    background-color: #F0BA54;
}