* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0BA54;
    display: flex;
    flex-direction: column;
}

/* N  A  V  */

nav {
    height: 5em;
    width: 100%;
    background-color: #BB0909;
    display: flex;
    align-items: center;
    justify-content: space-between
}

nav > #before-menu {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

nav > #before-menu > .before-click {
    height: 0.5em;
    width: 2em;
    margin: 0.1em;
    background-color: black;
}

nav > #after-menu {
    display: flex;
    flex-direction: row;
    padding: 1em;
    display: none;
}

nav > #after-menu > .after-click {
    height: 2em;
    width: 0.5em;
    background-color: black;
    transition: 0.4s;
}

nav > #after-menu > .one {
    transform: translate(0, 11px) rotate(-45deg);
}

nav > #after-menu > .two {
    opacity: 0;
}

nav > #after-menu > .three {
    transform: translate(0, -11px) rotate(45deg);
}

nav > img {
    height: 70%;
    width: 3em;
}

nav > #title {
    padding: 0.2em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav > #title > h1 {
    font-size: 17px;
    color: white;
}

nav > #title > h2 {
    font-size: 13px;
}

/*  H E A D E R  */


header {
    height: 40em;
    width: 100%;
    background-color: #BF5E3B;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

header > img {
    height: 25em;
    width: 100%;
    border-radius: 20%;
}

main {
    height: 40em;
    width: 100%;
    background-color: #BB0909;
}

footer {
    height: 10em;
    width: 100%;
    background-color: #BF5E3B;
}