* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

/* N A V  */

nav {
    height: 5em;
    width: 100%;
    background-color: #BB0909;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


nav > a > div {
    height: 50%;
    width: 3em;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav > a > div > img {
    height: 90%;
    width: 80%;
    padding: 0.3em;
}

/* M  A  I  N  */

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 1.5em;
}

main > section {
    height: 9.5em;
    width: 9em;
    border: 1px solid black;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main > section > .foto {
    width: 50%;
    height: 4em;
    border-radius: 50%;
}

main > section > .foto > img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}


main > section > .detalhes {
    width: 100%;
}

main > section > .detalhes > h2 {
    font-size: 15px;
    margin-left: 0.5em;
}

main > section > .detalhes > p {
    font-size: 12px;
    margin-left: 0.5em;
}


/* M E D I A  Q U E R I E S  */

@media only screen and (min-width: 768px) {
    nav {
        justify-content: center;
    }

    nav > a > div {
        position: absolute;
        left: 0.5em;
        top: 1em;
        height: 3em;
    }
}

@media only screen and (min-width: 1024px) {
    nav > a > div {
        top: 1em;
        height: 3em;
    }
    main > section {
        width: 20em;
        height: 20em;
        transition: 1s;
        cursor: pointer;
    }

    main > section:hover {
        background-color: #F0BA54;
    }

    main > section > .foto > img {
        height: 10em;
        width: 10em;
        border-radius: 50%;
    }

    main > section > .detalhes {
        margin-top: 5em;
    }

    main > section > .detalhes > h2 {
        font-size: 20px;
        margin-left: 0.8em;
    }
    
    main > section > .detalhes > p {
        font-size: 17px;
        margin-left: 0.8em;
    }
}

@media only screen and (min-width: 2000px) {
    body {
        width: 50%;
        margin: 0 auto;
    }

    nav {
        justify-content: space-evenly;
    }

    nav > a > div {
        position: relative;   
        left: 0;
        top: 0;     
    }

    nav > h1 {
        font-size: 30px;
    }

    main > section > .detalhes > h2 {
        font-size: 25px;
    }
    
    main > section > .detalhes > p {
        font-size: 23px;
    }
}